.file-input-new {
    width:300px;
}

/*.select2{*/
/*    width: 200px*/
/*}*/
/*.col-md-6 div{*/
/*    width: 200px*/
/*}*/
/*.input-group{*/
/*    width: 200px*/
/*}*/
/*.form-control{*/
/*    width: 400px*/
/*}*/
/*.select2-selection--multiple{*/
/*    width: 200px*/
/*}*/
/*!*.select2-selection__placeholder{*!*/
/*!*    width: 300px*!*/
/*!*}*!*/
/*hr{*/
/*    display: none*/
/*}*/
/*.select2-selection__rendered{*/
/*    width: 300px*/
/*}*/

/*!*.btn-primary{*!*/
/*!*    margin-right: 50px*!*/
/*!*}*!*/
/*.select2-selection__rendered{*/
/*    width: 300px*/
/*}*/
/*.select2-selection{*/
/*    width:200px*/
/*}*/
/*.col-md-12{*/
/*    margin-bottom: 10px*/
/*}*/
/*.col-md-6{*/
/*    margin-bottom: 10px*/
/*}*/

.btn-sm{
    margin-left: 20px
}

/*.select2-selection li{*/
/*    width: 200px*/
/*}*/


.pull-left{
    margin-left: 20px
}